/* Basic Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f2f5;
    color: #000; /* Black text color for overall body text */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 40px;
}

header {
    background: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1323315116.1713702342&semt=ais') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff; /* White text color for header */
}

.header-content h1 {
    font-size: 60px;
    font-weight: bold;
    color: #fff; /* White text color for main header */
}

.header-content p {
    font-size: 24px;
    margin-top: 20px;
    color: #fff; /* White text color for header paragraph */
    opacity: 0.9;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 20px 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    font-size: 18px;
}

nav ul li a {
    color: #fff; /* White text color for navigation links */
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #555; /* Dark gray for navigation links on hover */
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    background-color: #333;
    color: #fff; /* White text color for footer */
}

footer p {
    font-size: 16px;
    color: #fff; /* White text color for footer text */
}

footer a {
    color: #fff; /* White text color for footer links */
    text-decoration: none;
}

@media (max-width: 768px) {
    header .header-content h1 {
        font-size: 40px;
    }

    header .header-content p {
        font-size: 20px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    nav ul li a {
        display: inline-block;
    }

    body {
        padding: 10px;
    }
}
